@font-face {
	font-family: 'Satoshi-Medium';
	src: url(../../assets/fonts/Satoshi-Medium.woff2) format('woff2'),
	url(../../assets/fonts/Satoshi-Medium.woff) format('woff'),
	url(../../assets/fonts/Satoshi-Medium.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}