@font-face {
	font-family: 'Satoshi-Bold';
	src: url(../../assets/fonts/Satoshi-Bold.woff2) format('woff2'),
	url(../../assets/fonts/Satoshi-Bold.woff) format('woff'),
	url(../../assets/fonts/Satoshi-Bold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}