@font-face {
	font-family: 'Satoshi-BoldItalic';
	src: url(../../assets/fonts/Satoshi-BoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/Satoshi-BoldItalic.woff) format('woff'),
	url(../../assets/fonts/Satoshi-BoldItalic.ttf) format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}