@font-face {
	font-family: 'Satoshi-Light';
	src: url(../../assets/fonts/Satoshi-Light.woff2) format('woff2'),
	url(../../assets/fonts/Satoshi-Light.woff) format('woff'),
	url(../../assets/fonts/Satoshi-Light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}