@font-face {
	font-family: 'Satoshi-Italic';
	src: url(../../assets/fonts/Satoshi-Italic.woff2) format('woff2'),
	url(../../assets/fonts/Satoshi-Italic.woff) format('woff'),
	url(../../assets/fonts/Satoshi-Italic.ttf) format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}