body {
  background-color: black;
  padding-top: 50px;
}

.navbar {
  background-color: black!important;
}

.fas.fa-code {
  padding-right: 10px;
}

.navbar-brand {
  font-weight: bold;
}

.hero-section {
  padding-top: 100px;
  text-align: center;
}

#asterisk {
  margin-bottom: 40px;
  margin-top: 30px;
}

.photo {
  margin-top: 50px;
  border-radius: 30px!important;
}

.education {
  padding-left: 100px;
}

.parabil {
  padding-left: 100px;
}

.circle2 {
  z-index: -1;
}

